@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.font-righteous {
    font-family: 'Righteous', cursive;
}

.top-bar {
    width: 100vw;
    height: 92px;
    background-color: #cf2b2b;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.top-bar-content {
    color: #FFFFFF;
    margin-left: 21px;
}

.top-bar-content h1 {
    font-size: 44px;
    margin-bottom: 5px;
}

.top-bar-content h2 {
    font-size: 18px;
}

.container {
    background-color: #EEEEEE;
    margin: 92px 0px;
    padding-top: 31px;
    padding-bottom: 16px;
}

.content {
    background: #EEEEEE; /*  mudar depois*/
    margin-left: 19px;
}

.content:nth-child(2) {
    margin-top: 27px;
    margin-bottom: 27px;
}

.top-content-text {
    font-size: 26px;
    color: #333333;
    margin-bottom: 17px;
}

.content-options {
    background-color: #EEEEEE; /* concertar */
    display: flex;
    overflow-x: scroll;
}

.option-box {
    width: 162px;
    min-width: 162px;
    height: 210px;
    background-color: #ffffff;
    border-radius: 9px;
    margin-right: 16px;
    border: 5px solid #ffffff;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    padding: 18px 14px 2px 14px;
    box-sizing: content-box;
    cursor: pointer;
}

.menu img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 8px;
}

.check {
    color: #ffffff;
    font-size: 22px;
}

.name {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 4px;
}

.description {
    font-size: 15px;
    font-weight: 300;
    color: #A6A6A6;
    margin-bottom: 2px;
    line-height: 17.6px;
}

.price {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    display: flex;
    justify-content: space-between;
    width: 166px;
}

.bottom-bar {
    height: 92px;
    width: 100vw;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bottom-bar-button {
    height: 61px;
    width: 100vw;
    background-color: #CBCBCB;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: 15px 25px;
    border: none;
    cursor: pointer;
}

.green-button {
    background-color: #32B72F;
}

.font-weight-400 {
    font-weight: 400;
}

.green-border {
    border: 5px solid #32B72F;
}

.green-icon {
    color: #32B72F;
}







